footer.footer
	.container.footer__container
		.footer__top
			.footer__left 
				a.footer__left--logo(href="#")
					img(src="images/logo.svg", alt="alt")
				.footer__left--text 
					span ООО «Домашний Заготовщик»
					span ИНН 4345507857 
					span ОГРН 1214300000530
					span 
						|Адрес: 610035, г. Киров, 
						br
						|2-й Кирпичный переулок, 2/1

			.footer__menu.menu-footer 
				.menu-footer__row 
					ul.menu-footer__list 
						li.menu-footer__item 
							a.menu-footer__link.click(href="#") Галерея
						li.menu-footer__item 
							a.menu-footer__link.click(href="#hugge") О Хюгге
						li.menu-footer__item 
							a.menu-footer__link.click(href="#hugge-style") Еда Хюгге
						li.menu-footer__item 
							a.menu-footer__link.click(href="#block-oven") Пеллеты

					ul.menu-footer__list 
						li.menu-footer__item 
							a.menu-footer__link.click(href="#") Комплектация
						li.menu-footer__item 
							a.menu-footer__link.click(href="#") Надежность
						li.menu-footer__item 
							a.menu-footer__link.click(href="#safety") Безопасность
						li.menu-footer__item 
							a.menu-footer__link.click(href="#block-oven") Преимущества
						li.menu-footer__item 
							a.menu-footer__link.click(href="#") Характеристики
						li.menu-footer__item 
							a.menu-footer__link.click(href="#transformation") Трансформация

					ul.menu-footer__list 
						li.menu-footer__item 
							a.menu-footer__link.click(href="#instruction-video") Видео презентация
						li.menu-footer__item 
							a.menu-footer__link.click(href="#") Инструкция по сборке 
						li.menu-footer__item 
							a.menu-footer__link.click(href="#") Видео производства
						li.menu-footer__item 
							a.menu-footer__link.click(href="#") Регистрация печи

			.footer__right 
				.footer__right--tel 
					a(href="tel:8005550000")
						img(src="images/tel.svg", alt="tel")
						span 8 800 555 00 00
					span Бесплатно по всей РФ
				.footer__right--email
					a(href="mailto:hyggelig@mail.com")
						img(src="images/email.svg", alt="email")
						span hyggelig@mail.com
				.footer__right--soc 
					a(href="#")
						img(src="images/youtube.svg", alt="alt")
					a(href="#") 
						img(src="images/whatsapp.svg", alt="alt")
					a(href="#")
						img(src="images/telegram.svg", alt="alt")
				.footer__right--copy-mob
					span © Hyggelig 2022
		.footer__bottom
			span © Hyggelig 2022


